In [1]:
import pandas as pd
from os import path

In [3]:
#pip install openpyxl

Load data

In [4]:
doc_path = "/data/elekin/doc"
metadata_file = path.join(doc_path,"Temblor-RMN(depurada-controles-ethw)IS.xlsx")
metadf=pd.read_excel(metadata_file)

In [5]:
filename=metadf[metadf.TRS.notna()].abs_path.iloc[0]
#features=['x','y','timestamp','pen_up','azimuth','altitude','pressure']
features=['x','y','timestamp','pen_up','pressure']
data = pd.read_csv(filename, sep="\s+",header=None,names=features,skiprows=1,usecols=[0,1,2,3,6])

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2643 entries, 0 to 2642
Data columns (total 5 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   x          2643 non-null   int64
 1   y          2643 non-null   int64
 2   timestamp  2643 non-null   int64
 3   pen_up     2643 non-null   int64
 4   pressure   2643 non-null   int64
dtypes: int64(5)
memory usage: 103.4 KB

In [7]:
data

         x      y  timestamp  pen_up  pressure
0     1493   9752    2098403       1         6
1     1490   9752    2098411       1       168
2     1490   9752    2098418       1       328
3     1490   9752    2098426       1       480
4     1489   9752    2098433       1       667
...    ...    ...        ...     ...       ...
2638  1612  11175    2118944       1      1736
2639  1612  11176    2118952       1      1610
2640  1614  11176    2118960       1      1327
2641  1628  11172    2118967       1      1005
2642  1656  11162    2118975       1       454

[2643 rows x 5 columns]